@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 auto;
  font-family: "Pretendard-Regular";
}
.wrapper {
  display: flex;
  background: #e9ecef;
}

/* 네비게이션 */
.navWrap {
  min-width: 190px;
  background: #f8f9fa;
  padding: 18px;
  box-shadow: 5px 5px 10px lightgray;
  height: 100vh;
  box-sizing: border-box;
}
.navTitle {
  font-weight: bold;
  font-size: 18px;
}
ul {
  list-style: none;
  cursor: pointer;
}
ul:before {
  content: "- ";
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px 6px 0px;
}

ul > div > li {
  padding: 0px 5px 6px 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #efefef;
  font-size: 14px;
}

ul > div > li:before {
  content: "> ";
  display: inline-block;
  vertical-align: middle;
  padding: 0px 5px 6px 0px;
}

/* 메인 컨텐츠 */
.mainWrap {
  width: 100%;
}
.mainWrap h3 {
  margin-left: 4%;
}
.boardWrap {
  display: flex;
  flex-wrap: wrap;
  padding: 42px 0;
  box-sizing: border-box;
  justify-content: start;
}
.boardWrap .flex_box {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* 오늘의 날씨 */
.todayWeather {
  width: 30%;
  height: 400px;
  background: #f8f9fa;
  margin-bottom: 28px;
}
.boardContent1 {
  padding: 30px;
}
.name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.tempBox {
  text-align: center;
  display: flex;
  justify-content: center;
}
.tempBox img {
  width: 100px;
  height: 100px;
}
.tempBox .temp {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 30px;
}
.boardContent1 > div {
  text-align: center;
}
.boardContent1 > div > span {
  display: inline-block;
  margin-bottom: 20px;
}
.slash {
  color: lightgray;
}
.infoBox {
  display: flex;
  justify-content: space-evenly;
}
.info {
  width: 90px;
  height: 70px;
  background: #d8f3dc;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid #2d6a4f;
  margin-top: 20px;
}

.info > div:nth-child(1) {
  margin-top: 14px;
}
.info > div:nth-child(2) {
  font-weight: 500;
  color: #2d6a4f;
  margin-top: 5px;
}
/* 일출 */
.info:nth-child(3) {
  background: #e3f2fd;
  border: 1px solid #00b4d8;
}
.info:nth-child(3) > div:nth-child(2) {
  font-weight: 500;
  color: #0077b6;
  margin-top: 5px;
}
/* 일몰 */
.info:nth-child(4) {
  background: #fff6cc;
  border: 1px solid #ffc300;
}
.info:nth-child(4) > div:nth-child(2) {
  font-weight: 500;
  color: #ffc300;
  margin-top: 5px;
}

/* 일주일간 기온 차 */
.weekTemp {
  width: 60%;
  height: 400px;
  background: #f8f9fa;
  margin-left: 40px;
}

/* 계절별 미세먼지 농도 */
.seasonDust {
  width: 30%;
  height: 400px;
  background: #f8f9fa;
  margin-bottom: 15px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.mark {
  position: relative;
  top: -10px;
}
.boardContent3 {
  padding: 20px;
}
.boardContent3 > div:nth-child(2) {
  float: right;
}

/* 월별 날씨 정보 */
.monthWeather {
  width: 60%;
  height: 400px;
  background: #f8f9fa;
  margin-left: 40px;
}
.boardTitle {
  font-weight: bold;
  font-size: 16px;
  padding: 8px 0 8px 0;
  margin: 8px 0 0 30px;
}
hr {
  width: 94%;
  border: none;
  border-bottom: 2px solid #e9ecef;
}

.boardContent4 {
  width: 94%;
  padding: 10px;
  margin: 10px 10px 10px 18px;
}
table {
  font-size: 0.9em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  overflow: hidden;
}

th {
  text-align: center;
}

thead {
  font-weight: bold;
  color: #000;
  background: #8ecae6;
}

td,
th {
  padding: 0.5em 0.5em;
  vertical-align: middle;
}

td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
  width: 200px;
  height: 30px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  user-select: none;
}
.prev-button {
  margin-right: 10px;
}
span {
  margin-left: 5px;
  margin-right: 5px;
}
.next-button {
  margin-left: 10px;
}

.selected {
  font-weight: 800;
  font-size: 1.1rem;
  color: #8ecae6;
}

.prev-button:hover,
.next-button:hover,
.number-button:hover {
  font-weight: 800;
  color: red;
}
